<!DOCTYPE html>

<html lang="en">
<head>
  <% include ../partials/head.ejs %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">

</head>

<body>



  <div class="container">

  <div id="header">
      <h1>Wdinstagram</h1>
     <a id="all_entries" href="/index.ejs" title="All Entries">All Entries</a>
     <a id="new_entry" href="new" title="New Entry">New Entry</a>
  </div>


  <div class="white_space col-md-8 col-md-offset-2">
    <div class="grey_border">
      <div class="pic_info">
        <p class="user_name">User Name</p>
        <p class="post_date">Post Date</p>
        <div class="pic"></div>


      </div>

    </div>
  </div>







  </div>

</body>
</html>
