<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>test</title>
  <link rel="stylesheet" href="css.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>


<div class="container">

  <div id="header">
      <h1>Wdinstagram</h1>
     <a id="all_entries" href="/index.ejs" title="All Entries">All Entries</a>
     <a id="new_entry" href="new" title="New Entry">New Entry</a>
  </div>

  <div class="white_space">


<div class="forms">

    <form class="author form" action="" method="POST" role="form">
      <div class="form-group">
        <label for="">Author</label>
        <input type="text" class="form-control" id="" placeholder="Author">
      </div>
    </form>

     <form class="photo_url form" action="" method="POST" role="form">
      <div class="form-group">
        <label for="">Photo Url</label>
        <input type="text" class="form-control" id="" placeholder="Photo Url">
      </div>
    </form>

     <form class="date_taken form" action="" method="POST" role="form">
      <div class="form-group">
        <label for="">Date Take</label>
        <input type="date" class="form-control" id="" placeholder="Date Take">
      </div>
    </form>

    <button class="pic_submit_button" type="button" class="btn btn-success">Submit</button>

</div>


  </div>

</div>



</body>
</html>
