/* Fonts */

h1{
  font-family: 'Billabong';
  color: white;
  font-size: 60px;
  display: inline;
  padding: 20px;
}

.white_space{
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: inset 4px 4px 20px black;
  height: 400px;
}

.grey_border{
  border: 10px solid #D0D0D0;
  margin: 20px;
  height: 90%;
}

.user_name{
  display: inline;
  float: left;
  margin: 5px;
  color:  #3f729b;
}

.post_date{
  display: inline;
  float: right;
  margin: 5px;
  color: #D0D0D0;
}

#header{
  padding: 20px;
}

.form{
  width: 30%;
  color: #3f729b;
}

.forms{
font-size: 30px;
text-align: center;
margin: 0 auto;
padding: 50px;
}

#all_entries{
  padding: 20px;
  color: white;
}

#new_entry{
  padding: 20px;
  color: white;
}

.pic{
  width: 490px;
  height: 290px;
  border-radius: 20px;
  margin: 25px;
  position: absolute;
  background-image: url('http://fc06.deviantart.net/fs71/f/2014/242/2/5/funny_meme_by_firefox2014-d7x82sj.jpg');
  background-size: 100%;
}

@font-face {
    font-family: 'Billabong';
    src: url('../fonts/billabong-webfont.eot');
    src: url('../fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/billabong-webfont.woff2') format('woff2'),
         url('../fonts/billabong-webfont.woff') format('woff'),
         url('../fonts/billabong-webfont.ttf') format('truetype'),
         url('../fonts/billabong-webfont.svg#billabongregular') format('svg');
    font-weight:  normal;
    font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Styles */
body {
  background:  #3f729b;
  font-family: 'Source Sans Pro', sans-serif;
}

.script {
  font-family: Billabong;

  display: inline-block; /* allows us to scale without breaking spacing */
  -webkit-transform: scale(1.15, 1.0);
  -moz-transform:    scale(1.15, 1.0);
  -ms-transform:     scale(1.15, 1.0);
  -o-transform:      scale(1.15, 1.0);
  transform:         scale(1.15, 1.0);

  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: inherit;
}
